.reserve-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 2px auto;
}

.reserve-intro {
  margin: 20px auto;
}

.reserve-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.reserve-subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hotel-name {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 10px;
}

.hotel-price-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hotel-price {
  font-size: 1rem;
}

.actual-price {
  font-size: 1rem;
  font-weight: 600;
  margin-left: 5px;
}

.reserve-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -15px;
}

.reserve-left {
  width: 30rem;
  height: 32rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.reserve-right {
  width: 25rem;
  height: 32rem;
  margin: 1rem;
  border-radius: 5px;
}

.reserve-hotel-image {
  width: 100%;
  height: 57.8vh;
  object-fit: cover;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.adult-children {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.total-adult {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  width: 50%;
}

.reserve-with-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
}

.adult {
  font-size: 16px;
  margin: 10px;
  color: #d3d3d3;
}

.minus {
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  color: #d3d3d3;
  background-color: transparent;
  border: none;
  font-weight: bolder;
}

.number {
  font-size: 16px;
  margin: 10px;
  color: #d3d3d3;
}

.plus {
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  color: #d3d3d3;
  background-color: transparent;
  border: none;
  font-weight: bolder;
}

.total-children {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 0 10px 10px 0;
  width: 50%;
}

.children {
  font-size: 16px;
  margin: 10px;
  color: #d3d3d3;
}

.rooms-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.rooms {
  font-size: 16px;
  margin: 10px;
  color: #d3d3d3;
}

.other-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: self-start;
  margin-top: 25px;
  margin-left: -15px;
}

.image-left {
  width: 32%;
  height: 110px;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-right {
  width: 32%;
  height: 110px;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.room-type {
  font-size: 16px;
  margin-top: 20px;
}

.room-type-select {
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
}

.room-type-select:focus {
  outline: none;
  border-color: rgb(0, 0, 0, 0.5);
}

option {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-right: 10px;
}

.reserve-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.reserve-button {
  background-color: #72b600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
  width: 40%;
}

.reserve-button:hover {
  background-color: #6aa308;
  color: white;
}

.invalid-button {
  background-color: #ccc;
  cursor: not-allowed;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  width: 40%;
}

.my-reservation {
  background-color: #fe6814;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.my-reservation:hover {
  background-color: #e65a0a;
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  background-color: #ffcccc;
  color: #cc0000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
