.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}

.container hr{
    width: 10%;
    border: 1px solid #FE6814;
}
.title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cards{
    display: flex;
    flex-direction: row;
    margin-left: 75px;
    /* margin-bottom: 45px; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}