.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container hr {
  margin-top: 8%;
  width: 10%;
  border: 1px solid var(--green-clr);
}

.container p {
  margin-bottom: 8%;
}

.title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.no-hotels-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0 auto;
}

.title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin: 4rem auto;
    margin-bottom: 20px;
}
