@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --nav-bg-color: #d3d3d3;
  --green-color: #72b600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa-xmark {
  color: var(--green-color);
  font-size: 1.2rem;
  padding: 0.25rem;
}

main {
  position: relative;
  margin-top: var(--header-height);
  padding: 0 1rem;
  font-size: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  transition: 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0 1rem;
  transition: 0.5s;
}

.header-toggle {
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--green-color);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -30%;
  height: 100vh;
  width: var(--nav-width);
  background-color: #f5f5f5;
  padding-top: 1rem;
  transition: 0.5s;
}

.nav-link-title {
  font-weight: 200;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  padding-left: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f5f5f5;
}

.nav-logo img {
  margin-bottom: 20px;
  width: 50%;
  margin-left: 5%;
}

.nav-wrapper {
  margin-top: 60%;
}

.nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav-link:hover {
  color: #fff;
  background-color: var(--green-color);
}

.nav-link:hover .nav-link-title,
.nav-link:hover .nav-logo-icon {
  color: #fff;
}

.nav-logo {
  margin-bottom: 2rem;
  text-decoration: none;
}

.nav-logo-icon {
  font-size: 1.25rem;
  color: var(--green-color);
  cursor: pointer;
}

.nav-logo-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  color: var(--green-color);
}

.nav-logo-title {
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
}

.nav-logo,
.nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
}

.nav-link {
  position: relative;
  color: #000;
  transition: 0.5s;
  margin-bottom: 1.5rem;
}

.active {
  background: var(--green-color);
  color: #fff;
}

.nav-logo {
  margin-bottom: 2rem;
  text-decoration: none;
}

.nav-logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;
}

.nav-logo-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  color: #fe6814;
}

.nav-link {
  position: relative;
  color: #000;
  transition: 0.5s;
  margin-bottom: 1.5rem;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  width: 3px;
  background-color: var(--green-color);
  transition: 0.5s;
}

.active .nav-link-title {
  color: #0e0e0e;
  font-weight: 600;
}

.show {
  left: 0;
}

.space-toggle {
  padding-left: calc(var(--nav-width) + 1rem);
}

.socials {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.socials-links {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  float: left;
  flex-direction: column;
  margin-top: 15px;
  align-items: flex-start;
  color: #fe6814;
  margin-bottom: 8px;
}

.social-links a {
  text-decoration: none;
  border: 1px solid rgb(126, 125, 125);
  align-items: center;
  width: 140px;
  padding: 2px 4px;
  display: flex;
}

.social-links a:nth-child(2) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.social-links a:nth-child(5) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.social-links a:hover {
  background-color: var(--green-color);
  color: #ffffff;
}

.sociaals {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.links p {
  display: flex;
  color: #000000;
  font-weight: 400;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: calc(var(--header-height) + 1rem);
    padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding-left: calc(var(--nav-width) + 1.5rem);
  }

  .sidebar {
    left: 0;
    padding: 1rem 0 0 0;
  }

  .show {
    width: calc(var(--header-height) + 156px);
  }

  .space-toggle {
    padding-left: calc(var(--nav-width) + 160px);
  }

  .sociaals {
    display: none;
  }
}
