@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  width: 294px;
  height: 100vh;
  background: #ffffff;
  border: 1px solid #afafaf;
}

.navi {
  margin-top: 30px;
}

.logo {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #fe6814;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-left: 30px;
}

.navbar a.active {
  background: #fe6814;
  border-radius: 30px;
  padding: 5px 10px;
  color: #ffffff;
}

.navbar a:hover {
  text-decoration: none;
  color: #000000;
}

.deletebtn {
  padding: 5px 10px;
  color: white;
  background-color: #fe6814;
  border-radius: 10px;
}
