@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  width: 264px;
  height: 100vh;
  background: #ffffff;
  border: 1px solid #afafaf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navi {
  margin-top: 30px;
}

.logo {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #fe6814;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-left: 30px;
}

.navbar a.active {
  background: #fe6814;
  border-radius: 30px;
  padding: 5px 10px;
  color: #ffffff;
}

.navbar a:hover {
  text-decoration: none;
  color: #000000;
}

.deletebtn {
  padding: 5px 10px;
  color: white;
  background-color: #fe6814;
  border-radius: 10px;
}

.socials {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 30px; */
  margin: 30px;
}

.socials-links {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  float: left;
  /* gap: 10px; */
  flex-direction: column;
  margin-bottom: 20px;
  align-items: flex-start;
  color: #fe6814;
  /* border: 1px solid black; */
  /* padding: 8px; */
}

.social-links a {
  text-decoration: none;
  border: 1px solid rgb(126, 125, 125);
  align-items: center;
  width: 140px;
  padding: 5px 10px;
}

.social-links a:nth-child(2) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.social-links a:nth-child(5) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.social-links a:hover {
  background-color: #fe6814;
  color: #ffffff;
}

.sociaals {
  display: flex;
  flex-direction: column;
}

.links p {
  display: flex;
  color: #000000;
  font-weight: 400;
  margin-left: 30px;
}

.btnss {
  padding: 5px 8px;
  background-color: red;
  color: white;

  border-radius: 8px;
  border: 1px solid red;
}

.btnss:hover {
  color: black;
  background-color: #ffffff;
}
