@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Advent Pro', sans-serif;
  background-image: url('../../../public/splash.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 22px;
}

.container .splach h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  text-align: center;
}

h1 span {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 153px;
  color: #fe6814;
  padding: 15px;
}

.container .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
}

.btns button {
  outline: none;
  border: none;
  border-radius: 47.5px;
}

.btns button:focus,
button:active {
  box-shadow: none;
  outline: none;
}
.btns .login {
  background-color: #fe6814;
}

.btns .signup {
  color: #fe6814;
  background-color: #fff;
}
