.delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-top: -2%;
}

.intro-reserve {
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.hotelList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-right: 20px;
}

.hotelListss {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: -180px;
  margin-top: -25px;
  padding-right: 20px;
}

.hotelList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hotelItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(167, 166, 166);
  padding-bottom: 20px;
  border-radius: 20px;
  height: 500px;
  width: 350px;
  margin-right: 20px;
}

.hotelDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: auto 5px;
}

.hotelDetails p {
  color: gray;
}

.card-img-top {
  border-radius: 22px 22px 0px 0px;
  width: 300px;
  height: 250px;
}

.hotel-lists {
  position: relative;
}

.leftarr2 {
  left: -24%;
  position: relative;
}

.reservebtn {
  position: absolute;
  top: -70px;
  right: -90px;
  width: 100px;
  height: 40px;
  background: #cecece;
  border-radius: 20px;
  float: right;
  color: white;
  margin-right: 40px;
}

.reservebtn:hover {
  background: var(--orange-clr);
  color: white;
}

.reserves {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 8px;
}

.reserves p {
  font-size: 15px;
  color: var(--green-clr);
}

.reserveName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px auto;
}

span {
  color: gray;
  font-weight: 500;
}

.checks {
  border-top: var(--border-line);
  border-bottom: var(--border-line);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checks p {
  margin-left: 10px;
}

.out span {
  margin-right: 35px;
}

/* Media Queries */

/* Adjust layout for small screens */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: teal;
  }

.hotelListss {
  grid-template-columns: repeat(3, 1fr);
  margin-left: -26px;
  margin-top: -25px;
  padding-right: 60px;
}

.leftarr2 {
  left: -20%;
  position: relative;
}

.reserved-hotel {
  font-size: 2rem;
  margin-top: 2.5rem;
}

.reserved-hotel-para {
  font-size: 1.2rem;
  margin-bottom: -2.5rem;
  margin-top: 1rem;
}

  .hotelList {
    grid-template-columns: repeat(2, 1fr);
  }

  .reservebtn {
    position: relative;
    top: 0;
    right: 0;
    transform: none;
    margin-top: 10px;
    margin-right: 0;
  }
}

/* Adjust layout for extra small screens */
@media screen and (max-width: 480px) {
  .hotelList {
    grid-template-columns: repeat(1, 1fr);
  }

  .hotelListss {
    margin-left: 0;
    margin-top: 0;
    padding-right: 0;
  }
}

