.delete-hotels {
  /* display: flex;
    flex-direction: column; */
  width: 100%;
}

.info {
  margin-top: 8px;
}
.delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 50px; */
  padding: 30px;
}

.hotelList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.hotelList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hotelItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(167, 166, 166);
  padding-bottom: 20px;
  border-radius: 20px;
  height: 500px;
  width: 350px;
}

.hotelDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: auto 5px;
}

.hotelDetails p {
  color: gray;
}

.hotelItem img {
  width: 350px;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.rightarr {
  float: inline-end;
}

.reservebtn {
  width: 132.32px;
  height: 44.51px;
  background: #72b600;
  border-radius: 6px;
  float: right;
  color: white;
  margin-right: 40px;
}

.reservebtn:hover {
  background: #72b600;
  color: white;
}

.hotel-lists {
  margin-bottom: 10px;
  justify-content: flex-end;
  display: flex;
}

.reserves {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
}

.reserves p {
  color: #fe6814;
}

.reserveName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px auto;
}

span {
  color: gray;
  font-weight: 500;
}

.checks {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
