.roomsz {
  height: 98vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.roomsz h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  font-size: 16px;
}

.room {
  position: absolute;
  top: 30;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: transform 0.5s ease-in-out;
}

.roomszz {
  margin-top: 30px;
}

.room.aactive {
  opacity: 1;
  transform: translateX(0);
  width: 1250px;
  margin-left: 60px;
}

.room.previous {
  transform: translateX(-100%);
}

.room.next {
  transform: translateX(100%);
}

.roomPrice {
  color: #333;
  float: left;
  margin-left: 22px;
}

.imaage img {
  max-width: 100%;
  height: 600px;
  border-radius: 20px;
  margin-top: 50px;
}

.infozz p {
  color: #000000;
  text-decoration: wavy;
}

.dotsz {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
  margin-bottom: 30px;
  position: relative;
}

.dot {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 10px 5px;
  cursor: pointer;
}

.dot.aactive {
  background-color: #fe6814;
}

.arrowz {
  display: flex;
  margin-left: 30px;
}

.ddot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
