.hotelList {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.hotelList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.leftarr,
.rightarr {
  width: 50px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.leftarr {
  left: 15%;
}

.rightarr {
  right: 2%;
}

.search {
  padding: 10px;
  width: 30%;
}

.my-3 {
  border-radius: 15px;
  margin-left: -50px;
}

.btn-primary {
  margin-bottom: 40px;
}

.btn-primary:hover {
  background-color: var(--green-clr);
  color: #fff;
}

/* @media screen and (max-width: 768px) {
  .hotelList {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr;
    gap: 40px;
  }
} */
