* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --orange-clr: #fe6814;
  --green-clr: #72b600;
  --red-clr: #f91717;
  --grey-clr: #ececec;
  --border-radius: 8px;
  --border-line: 1px solid #979596;
}

.row {
  display: flex;
  flex-direction: row;
}

.side-image {
  background-image: url('../../Assets/sign.png');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.side2-image {
  background-image: url('../../Assets/login-pic.jpg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo {
  color: var(--orange-clr);
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
  font-size: 6rem;
  top: 50px;
  left: 50px;
  position: absolute;
}

img {
  width: 100%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.intro {
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.line {
  display: block;
  border: 2px solid var(--orange-clr);
  width: 150px;
  height: 2px;
  align-items: center;
  margin-left: 32%;
  margin-bottom: 25px;
}

.input-box {
  margin-top: 40px;
  width: 430px;
}

.intro h1 {
  font-weight: 700;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}
.input {
  height: 65px;
  width: 100%;
  background: var(--grey-clr);
  margin-bottom: 20px;
  color: #40414a;
  border-radius: var(--border-radius);
  padding: 20px;
}

.submit {
  height: 65px;
  width: 100%;
  background: var(--orange-clr);
  margin-bottom: 20px;
  color: #fff;
  border-radius: var(--border-radius);
  padding: 20px;
  margin-top: 20px;
}
.submit:hover {
  background: var(--green-clr);
  color: #fff;
}
.sign-in {
  text-align: center;
  font-size: small;
  margin-top: 25px;
}
span a {
  font-weight: 700;
  color: #000;
  transition: 0.5s;
}
span a:hover {
  color: var(--orange-clr);
}
