* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.row {
  width: 100%;
  height: auto;
}
.side-image {
  background-image: url('../../Assets/Sign\ pic.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
img {
  width: 100%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input-box {
  width: 430px;
}
.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}
.input {
  height: 65px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #53535333;
  margin-bottom: 20px;
  color: #40414a;
}

.submit {
  height: 45px;
  background: var(--orange-clr);
  color: #fff;
  border-radius: 5px;
  transition: 0.4s;
}
.submit:hover {
  background: var(--green-clr);
  color: #fff;
}
.signin {
  text-align: center;
  font-size: small;
  margin-top: 25px;
}
span a {
  font-weight: 700;
  color: #000;
  transition: 0.5s;
}
span a:hover {
  color: var(--orange-clr);
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .row {
    max-width: 420px;
    width: 100%;
  }
}
