@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --orange-clr: #fe6814;
  --green-clr: #72b600;
  --red-clr: #f91717;
  --border-line: #979596;
  --border-radius: 8px;
}

body {
  font-family: 'Inter', sans-serif;
}
