@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --orange-clr: #fe6814;
  --green-clr: #72b600;
  --red-clr: #f91717;
  --grey-clr: #ececec;
  --border-radius: 8px;
  --border-line: 1px solid #979596;
}

body {
  font-family: 'Inter', sans-serif;
}

.intro {
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.line {
  display: block;
  border: 2px solid var(--orange-clr);
  width: 150px;
  height: 2px;
  align-items: center;
  margin-left: 32%;
  margin-bottom: 25px;
}

.logo {
  color: var(--orange-clr);
  font-family: 'Advent Pro', sans-serif;
}
