.delete-hotels {
  margin: 8% 8%;
  width: 100%;
}

.info {
  margin-top: 60px;
}
.deletes {
  margin-top: 50px;
  padding: 30px;
}

.hotelLists {
  gap: 40px;
}

.hotelList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hotelItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  border: 1px solid gray;
  border-radius: 8px;
}

.hotelDetails .hr {
  width: 100%;
  height: 2px;
}

.hotelDetails p {
  color: gray;
}

.hotelItems img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  padding: 8px;
}
.rightarr {
  float: inline-end;
}

.reservebtn {
  width: 132.32px;
  height: 44.51px;
  background: #72b600;
  border-radius: 6px;
  float: right;
  color: white;
  margin-right: 40px;
}

.reservebtn:hover {
  background: #72b600;
  color: white;
}

.btnssz {
  padding: 5px 8px;
  background-color: red;
  color: white;
  border-radius: 8px;
  border: 1px solid red;
  width: 100px;
  margin: 30px;
}
